<template>
  <div class="modal-card" style="width: 500px">
    <header class="modal-card-head">
      <p class="modal-card-title">Publicar um novo Tweet</p>
    </header>

    <section class="modal-card-body">
      <b-field>
        <b-input type="textarea" minlength="1" maxlength="240" placeholder="O que está pensando?" v-model="content" >
        </b-input>
      </b-field>
    </section>

    <footer class="modal-card-foot">
      <button class="button" type="button" @click="$parent.close()">Close</button>
      <button class="button is-primary" @click="tweet">Tweet</button>
    </footer>
  </div>
</template>

<script>
export default {
  data: () => ({
    content: ""
  }),

  methods: {
    tweet() {
      this.$store
        .dispatch("newTweet", { tweet: this.content })
        .then(() => this.$parent.close());
    }
  }
};
</script>
