<template>

  <v-card>
    <v-toolbar color="pink" dark>
      <v-toolbar-title>{{tweet.username}}</v-toolbar-title>
    </v-toolbar>

    <v-container>
      <v-layout>
        <v-card-title>
          <div>{{tweet.tweet}}</div>
        </v-card-title>
      </v-layout>
    </v-container>

    <v-card-actions>
      <small>
        <time :datetime="tweet.createdAt">{{ tweet.createdAt | moment("dddd, MMMM Do YYYY") }}</time>
      </small>

      <v-spacer></v-spacer>

      <div v-show="showActions(tweet)">
        <v-btn icon>
          <v-icon>favorite</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>share</v-icon>
        </v-btn>
      </div>
    </v-card-actions>
  </v-card>

</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["tweet"],

  methods: {
    showActions(tweet) {
      return tweet.user === this.currentUser._id ? false : true;
    }
  },

  computed: {
    ...mapGetters(["currentUser"])
  }
};
</script>
