<template>

  <v-card>
    <v-toolbar color="pink" dark>
      <v-toolbar-title> {{user.name}}</v-toolbar-title>
    </v-toolbar>

    <v-container>
      <v-layout>
        <v-card-title>
          <v-flex xs12>
            Bio: {{user.bio}}
          </v-flex>
          <v-flex xs12>
            @{{user.username}}
          </v-flex>

        </v-card-title>
      </v-layout>
    </v-container>

    <v-card-actions>
      <div v-show="showActions(user)">
        <v-btn icon>
          <v-icon>favorite</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>share</v-icon>
        </v-btn>
      </div>
    </v-card-actions>
  </v-card>

</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["user"],

  methods: {
    showActions(user) {
      return user.id === this.currentUser._id ? false : true;
    }
  },

  computed: {
    ...mapGetters(["currentUser"])
  }
};
</script>
