<template>

  <nav class="navbar is-fixed-top is-primary">
    <!-- pagina inicial - icone twiiter - imagem pergil - tweetar -->
    <div class="container">
      <div id="topNav" class="navbar-menu">
        <div class="navbar-start">
          <router-link class="navbar-item" :to="{ name: 'dashboard' }">Home</router-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <a class="navbar-item" @click="tweetModal()">Tweetar</a>
            <router-link class="navbar-item" :to="{ path: '/logout' }">Logout</router-link>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  methods: {
    tweetModal() {
      this.$modal.open({
        parent: this,
        component: () =>
          import(/* webpackChunkName: "tweetform" */ "@/components/Shared/TweetForm"),
        hasModalCard: true
      });
    }
  }
};
</script>
