<template>
  <v-card class="card-fix">
    <img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px" style="max-width: 100%">

    <v-card-title primary-title>
      <div>
        <div class="headline">{{currentUser.name}}</div>
        <span class="grey--text">{{currentUser.bio}}</span>
      </div>
    </v-card-title>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Sidebar",

  computed: {
    ...mapGetters(["currentUser"])
  }
};
</script>

<style scoped>
</style>
