<template>
  <section>
    <div v-if="isLoading">
      <div class="text-xs-center" style="margin-top: 100px">
        <v-progress-circular :size="50" color="primary" indeterminate />
      </div>
    </div>

    <div v-else-if="getTimelineType">
      <div v-for="tweet in content" :key="tweet.id" class="tweet-container">
        <Tweet :tweet="tweet" />
      </div>
    </div>

    <div v-else>
      <div v-for="user in content" :key="user.id" class="tweet-container">
        <User :user="user" />
      </div>
    </div>

  </section>
</template>

<script>
import { mapGetters } from "vuex";
import Tweet from "@/components/Shared/Tweet";
import User from "@/components/Shared/User";

export default {
  components: {
    Tweet,
    User
  },

  data: () => ({
    content: []
  }),

  watch: {
    getTimelineType(type) {
      if (type === "t") {
        this.content = this.getTimeline.tweets;
      } else {
        this.content = this.getTimeline.users;
      }
    }
  },

  computed: {
    ...mapGetters(["getTimeline", "getTimelineType", "isLoading"])
  }
};
</script>

<style>
.tweet-container {
  margin-bottom: 15px;
}
</style>
