<template>
  <section>

    <!-- Modal -->
    <v-dialog v-model="dialog" max-width="500">
      <v-card>
        <v-card-title>
          <span class="headline">New tweet</span>
        </v-card-title>
        <v-card-text>

          <v-flex xs12>
            <v-textarea outline name="input-7-4" label="Whats up?" v-model="content" counter="240"></v-textarea>
          </v-flex>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" round outline @click.native="submitModal">Tweet</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fim modal -->

    <v-toolbar color="light-blue darken-3" fixed app>
      <a @click="refreshTimeline">
        <v-avatar dark>
          <v-icon dark>home</v-icon>
        </v-avatar>
        <span class="title ml-3 mr-5 white--text">Twitter&nbsp;
          <span class="font-weight-light">dev</span>
        </span>
      </a>
      <v-spacer />

      <v-form @submit="submitSearch">
        <v-text-field flat solo-inverted hide-details prepend-inner-icon="search" label="Search User" v-model="search" />
        <button style="display: none" />
      </v-form>

      <v-spacer />
      <v-btn @click="dialog = !dialog">
        New Tweet
      </v-btn>
      <v-btn :to="{name: 'logoutpage'}">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>

    <v-content>
      <v-container fluid grid-list-lg fill-height>
        <v-layout justify-center row wrap>
          <v-flex xs12 sm4 lg2>
            <Sidebar/>
          </v-flex>

          <v-flex xs12 sm8 lg5>
            <Timeline />
          </v-flex>

        </v-layout>
      </v-container>
    </v-content>

  </section>
</template>

<script>
import Timeline from "@/components/Layout/Timeline";
import Sidebar from "@/components/Layout/Sidebar";
export default {
  components: {
    Timeline,
    Sidebar
  },

  data: () => ({
    dialog: false,
    items: [
      { heading: "Labels" },
      { icon: "lightbulb_outline", text: "Notes" },
      { icon: "touch_app", text: "Reminders" },
      { divider: true }
    ],
    content: "",
    search: ""
  }),

  created() {
    this.$store.dispatch("setTimeline");
  },

  beforeMount() {
    this.$store.dispatch("checkUser");
  },

  methods: {
    submitModal() {
      this.$store
        .dispatch("newTweet", { tweet: this.content })
        .then(() => (this.dialog = !this.dialog))
        .catch(error => alert(error.respose.data.message));
    },

    submitSearch(event) {
      if (event) event.preventDefault();

      this.$store.dispatch("findUser", this.search);
    },

    refreshTimeline() {
      this.$store.dispatch("setTimeline");
    }
  }
};
</script>
