<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center row wrap>
        <v-flex xs12 sm8 md4>
          <v-form @submit="login">
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="username" label="Username" type="text" v-model="username"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" type="password" v-model="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <button color="blue" class="v-btn" type="submit">Login</button>
                <v-spacer />
              </v-card-actions>
            </v-card>

          </v-form>
          <div style="margin-top: 30px; text-align: center; font-size: 1.2em">
            <router-link :to="{name: 'registerpage'}" class="">Register</router-link>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>

</template>

<script>
export default {
  data: () => ({
    username: "",
    password: "",
    loading: false
  }),

  methods: {
    login(event) {
      if (event) event.preventDefault();

      this.$store
        .dispatch("login", {
          username: this.username,
          password: this.password
        })
        .then(() => {
          this.$router.push(this.$route.query.redirect || { path: "/" });
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
