<template>
  <div>
    <!-- Até mais -->
  </div>
</template>

<script>
export default {
  name: "Logout",
  created() {
    return this.$store.dispatch("logout").then(() => {
      this.$router.push({ path: "/" });
    });
  }
};
</script>
