<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-form @submit="register">
            <v-card class="elevation-12">
              <v-toolbar dark color="gray">
                <v-toolbar-title>Registration Form</v-toolbar-title>
                <v-spacer />
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="person" name="Name" label="Name" type="text" v-model="name"></v-text-field>
                  <v-text-field prepend-icon="alternate_email" name="username" label="Username" type="text" v-model="username"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" type="password" v-model="password"></v-text-field>
                  <v-textarea box name="input-7-4" label="Bio" v-model="bio"></v-textarea>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer />
                <button color="blue" class="v-btn" type="submit">Register</button>
                <v-spacer />
              </v-card-actions>
            </v-card>
          </v-form>
          <div style="margin-top: 30px; text-align: center; font-size: 1.2em">
            <router-link :to="{name: 'loginpage'}" class="">Login</router-link>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>

</template>

<script>
export default {
  data: () => ({
    name: "",
    username: "",
    password: "",
    bio: "",
    loading: false
  }),

  methods: {
    register(event) {
      if (event) event.preventDefault();

      this.$store
        .dispatch("register", {
          name: this.name,
          username: this.username,
          password: this.password,
          bio: this.bio
        })
        .then(() => {
          this.$router.push(this.$route.query.redirect || { path: "/" });
        })
        .catch(error => {
          alert(error.response);
        });
    }
  }
};
</script>
